<aside class="admin-menu">
    <strong class="d-block mb-2">Yönetim</strong>
    <a asp-action="Index">Gösterge Paneli</a>
    <a asp-action="Jobs">İş İlanları</a>
    <a asp-action="Applications">Başvurular</a>
    <a asp-action="Blog">Blog & Haberler</a>
    <a asp-action="Messages">İletişim Mesajları</a>
    <a asp-action="Content">Site İçerikleri</a>
</aside>
